<!DOCTYPE HTML>
<html lang=en>
  <head>
    <title>Status Shooter: Add A Twitter Account</title>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8" />
  </head>
  <body style="font-family:verdana,helvetica">
    <div style="text-align:center">
      <div style="font-size:2em">Add A Twitter Account</div>

      [% FOR field IN form.error_fields %]
        [% FOR error IN field.errors %]
          <h2 class="error">[% error %]</h2>
        [% END %]
      [% END %]

      [% IF message %]<h2 class="message" style="text-align:center">[% message %]</h2>[% END %]

      <form name=[% form.name %] action=[% form.action %] method=post>

      [% FOREACH field IN [ 'username' , 'password' ] %]
        [% f = form.field( field ) %]
        <p style="margin:20px 35%;">
          <label>
            [% f.label %]:
            <input type=[% f.type | lower %]
                   name=[% f.name %]
                   id=[% f.name %]
                   [% IF f.size %] size=[% f.size %][% END %]
                   value="[% f.fif %]"
              />
          </label>
        </p>
      [% END %]
      [% f = form.field( 'submit' ) %]
        <p>
          <input type=[% f.type | lower %] name=[% f.name %] id=[% f.name %] value="[% f.value %]" />
        </p>
      </form>
    </div>

<pre style="font-size:0.8em;">
[% USE Dumper %]
[% Dumper.dump_html( c.config ) %]
</pre>

  </body>
</html>
