<!DOCTYPE HTML>
<html lang=en>
  <head>
    <title>StatusSkein</title>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8" />
    <link type="text/css" media="screen" rel="stylesheet" href="/css/statusskein.css" />
  </head>
  <body>
    <div id=page-content>
      <div id=page-title>Add Additional Account</div>

      <p class=centered>Please select the service for which you'd like to add an account:</p>

      [% FOREACH service IN [ 'twitter', 'identica', 'facebook' ] %]
        [% label = service | ucfirst %]
      <a href=[% c.uri_for( '/add/' _ service ) %]>
        <img id=icon_[% service %] class=service-icon
             src=/images/[% service %].png alt="[% label %]" title="[% label %]" height=64 width=64 />
      </a>
      [% END %]
    </div>
  </body>
</html>
