<!DOCTYPE HTML>
<html lang=en>
  <head>
    <title>Status Shooter</title>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8" />
    <script type="text/javascript">
function twitter_reply( author, id ) {
  document.getElementById('status').value=author;
  document.getElementById('twitter_in_reply_to').value=id;
  document.getElementById('services.twitter').checked=true;
  return true;
}
    </script>
  </head>
  <body style="font-family:verdana,helvetica">
    [% IF posts %]
    <div style="float:left;font-size:8pt;width:20%">
      <ul style="list-style:none">
      [% INCLUDE POST FOREACH post IN posts %]
      </ul>
    </div>
    [% END %]
    <div style="text-align:center">
      <h1>Status Shooter</h1>

      [% FOR field IN form.error_fields %]
        [% FOR error IN field.errors %]
          <h2 class="error">[% error %]</h2>
        [% END %]
      [% END %]

      [% IF message %]<h2 class="message">[% message %]</h2>[% END %]

      <a href="[% c.uri_for() %]">reload</a>

      <form name=[% form.name %] action=[% form.action %] method=post>

        [% f = form.field( 'status' ) %]
        <p>
          <input type=[% f.type | lower %] name=[% f.name %] id=[% f.name %] size=[% f.size %] maxlength=[% f.maxlength %] value="[% f.fif %]" />
        </p>

        [% f = form.field( 'services' ) %]
        <p>
          [% FOR option IN f.options %]
          <label>
            <input type=checkbox name=[% f.name %] id=[% f.name _ '.' _ option.value %] value=[% option.value %]
                   [%- FOR fif IN f.fif %][% IF option.value == fif %] checked=checked[% END %][% END %] />
            [% option.label %]
          </label>
          [% END %]
        </p>

        [% f = form.field( 'submit' ) %]
        <p>
          <input type=[% f.type | lower %] name=[% f.name %] id=[% f.name %] value="[% f.value %]" />
        </p>

        <hr style="width:60%;margin-top:50px;"/>
        [% f = form.field( 'body' ) %]
        <p>
          <label>Blog Post Body:<br/>
            <textarea name=[% f.name %] id=[% f.name %] rows=[% f.rows %] cols=[% f.cols %]>[% f.value %]</textarea>
          </label>
        </p>

        [% f = form.field( 'tags' ) %]
        <p>
          <label>Blog Post Tags:<br/>
            <input type=[% f.type | lower %] name=[% f.name %] id=[% f.name %] size=[% f.size %] value="[% f.fif %]" />
          </label>
        </p>

        <p>
        [% f = form.field( 'identica_in_reply_to' ) %]
          <input type=[% f.type | lower %] name=[% f.name %] id=[% f.name %] value="[% f.fif %]" />
        [% f = form.field( 'twitter_in_reply_to' ) %]
          <input type=[% f.type | lower %] name=[% f.name %] id=[% f.name %] size=[% f.size %] maxlength=[% f.maxlength %] value="[% f.fif %]" />
        </p>
      </form>
    </div>
  </body>
[% BLOCK POST %]
<li style="margin-bottom:10px">
  <div>
    <a href=[% post.user_url %] target="_new">
      <img src=[% post.avatar_src %] style="border:1px solid black;float:left;margin:5px;" title="[% post.user_desc %]" height=48 width=48/>
    </a>
    <div style="margin-left: 60px">
      <a href=[% post.user_url %] class=user title="[% post.author %]" target="_new">[% post.user_handle %]</a>
      [% post.text %]
      <br/>
      <span style="font-size:0.8em">at <a href=[% post.permalink %] target="_new">[% post.pretty_date %]</a></span>
    </div>
    <div style="clear:both">[% post.reply_btn %]</div>
  </div>
</li>
[% END %]
</html>
