<!DOCTYPE HTML>
<html lang=en>
  <head>
    <title>StatusSkein</title>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8" />
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery.colorbox.js"></script>
    <script type="text/javascript" src="/js/jquery.timers.js"></script>
    <script type="text/javascript" src="/js/jquery.countdown.js"></script>
    <script type="text/javascript">
$(document).ready(function(){
  $("#countdown").hide();
  load_posts();
  $("#debug_btn").colorbox({
    width:"85%",
    height:"50%",
    inline:true,
    opacity:0.5,
    href:"#debug_info",
    onComplete:function(){
      date = new Date();
      epoch = Math.round(date.getTime() / 1000);
      $("#current_epoch").text( epoch );
    }
  });
  $("#post_btn").colorbox({
    width:"85%",
    height:"50%",
    inline:true,
    opacity:0.5,
    href:"#update_form",
    onComplete:function(){
      $("#status").val('');
      $(".services").val([]);
      $("#status").focus();
    }
  });
  $("#reload_btn").click(function() { load_posts() });
  $("#reload_btn").everyTime( '300s' , function() { load_posts() });
  $("#clear_btn").click( function() { $("#posts").html('') });
  $("#app-name").hover(
    function () { $("#countdown").fadeIn() } ,
    function () { $("#countdown").fadeOut() }
  );
  $("#icon-bar").hover(
    function () { $("#countdown").fadeIn() } ,
    function () { $("#countdown").fadeOut() }
  );
});
function load_posts () {
  $.get('[% c.uri_for( '/new_posts' ) %]' , function( data ) {
    $("#countdown").countdown('destroy');
    $("#posts").append(data) ;
    $("#countdown").countdown({ until: +300 , compact: true , layout: 'Reload in {mnn}{sep}{snn}' });
  });
}
function twitter_reply( author, id ) {
  $("#status").val(author);
  $("#twitter_in_reply_to").val(id);
  $(".services").val([]);
  $(".services").val(["twitter"]);
  $(".reply_btn").colorbox({
    width:"85%",
    height:"50%",
    inline:true,
    opacity:0.5,
    href:"#update_form",
    onComplete:function(){ $("#status").focus(); }
  });
  return true;
}
function identica_reply( author, id ) {
  $("#status").val(author);
  $("#identica_in_reply_to").val(id);
  $(".services").val([]);
  $(".services").val(["identica"]);
  $(".reply_btn").colorbox({
    width:"85%",
    height:"50%",
    inline:true,
    opacity:0.5,
    href:"#update_form",
    onComplete:function(){ $("#status").focus(); }
  });
  return true;
}
function facebook_reply( author , id ) {
  window.alert( "Facebook reply not yet implemented." );
  return true;
}
    </script>
    <link type="text/css" media="screen" rel="stylesheet" href="/css/colorbox.css" />
    <link type="text/css" media="screen" rel="stylesheet" href="/css/jquery.countdown.css" />
  </head>
  <body style="font-family:verdana,helvetica">
    <div id="icon-bar" style="float:left;position:fixed; top:0;left:0; background:#ccc;border-right:1px solid black;border-bottom:1px solid black;padding:0.2em;">
      <img src="/images/post.png" id=post_btn alt="post" title="post" width=48 height=48 />
      <br/>
      <img id="reload_btn" src="/images/reload.png" alt="reload" title="reload" width=48 height=48 />
      <br/>
      <img id="clear_btn" src="/images/clear.png"  alt="clear posts" title="clear posts" width=48 height=48 />
      <br/>
      <a href="[% c.uri_for('/add' ) %]"><img src=/images/add.png alt="Add Account" title="Add Account" style="border:0" width=48 height=48/></a>
      <br/>
      <img src="/images/debug.png" id=debug_btn alt="debug" title="debug" width=48 height=48 />
    </div>
    <div id="app-name" style="float:right;position:fixed;top:0;right:0">
      <span style="background:#999;border-left:1px solid black;border-bottom:1px solid black;padding:0.2em;color:#be3;font-size:2em">
        StatusSkein
      </span>
      <div id="countdown" style="color:#ccc;margin-top:0.5em;text-align:right;padding-right:15px;"></div>
    </div>
    [% IF message %]<h2 class="message" style="text-align:center">[% message %]</h2>[% END %]

    <div id=posts style="font-size:8pt;width:50%;margin-left:25%;">
      <ul style="list-style:none">
        <li>&nbsp;</li>
      </ul>
    </div>

    <div style="display:none">
      <div id="debug_info" style="text-align:center">
        <h1>
          Current epoch time: <span id="current_epoch">REPLACE ME</span><br/>
          Epoch time of this page load: <span id="session_epoch">[% c.session.time %]</span><br/>
        </h1>
        <a href=[% c.uri_for( 'delete_session' ) %]>clear session data</a>
      </div>

      <div id="update_form" style="text-align:center">

        [% FOR field IN form.error_fields %]
          [% FOR error IN field.errors %]
            <h2 class="error">[% error %]</h2>
          [% END %]
        [% END %]

        <form name=[% form.name %] action=[% form.action %] method=post>

          [% f = form.field( 'status' ) %]
          <p>
            <input type=[% f.type | lower %] name=[% f.name %] id=[% f.name %] size=[% f.size %] maxlength=[% f.maxlength %] value="[% f.fif %]" />
          </p>

          [% f = form.field( 'services' ) %]
          <p>
            [% FOR option IN f.options %]
            <label>
              <input type=checkbox class=[% f.name %] name=[% f.name %] id=[% f.name _ '.' _ option.value %] value=[% option.value %]
                     [%- FOR fif IN f.fif %][% IF option.value == fif %] checked=checked[% END %][% END %] />
              <img src=/images/[% option.label | lower %].png height=32 width=32 alt="[% option.label %]" title="[% option.label %]" />
            </label>
            [% END %]
          </p>

          [% f = form.field( 'submit' ) %]
          <p>
            <input type=[% f.type | lower %] name=[% f.name %] id=[% f.name %] value="[% f.value %]" />
          </p>

<!--
          <hr style="width:60%;margin-top:50px;"/>
          [% f = form.field( 'body' ) %]
          <p>
            <label>Blog Post Body:<br/>
              <textarea name=[% f.name %] id=[% f.name %] rows=[% f.rows %] cols=[% f.cols %]>[% f.value %]</textarea>
            </label>
          </p>

          [% f = form.field( 'tags' ) %]
          <p>
            <label>Blog Post Tags:<br/>
              <input type=[% f.type | lower %] name=[% f.name %] id=[% f.name %] size=[% f.size %] value="[% f.fif %]" />
            </label>
          </p>

-->
          <p>
          [% f = form.field( 'identica_in_reply_to' ) %]
            <input type=[% f.type | lower %] name=[% f.name %] id=[% f.name %] value="[% f.fif %]" />
          [% f = form.field( 'twitter_in_reply_to' ) %]
            <input type=[% f.type | lower %] name=[% f.name %] id=[% f.name %] value="[% f.fif %]" />
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
