<!DOCTYPE HTML>
<html lang=en>
  <head>
    <title>Status Shooter</title>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8" />
  </head>
  <body style="font-family:verdana,helvetica">
    [% IF twitter_status %]
    <div style="float:left;font-size:8pt;width:20%">
      <ul style="list-style:none">
      [% INCLUDE STATUS FOREACH status IN twitter_status %]
      </ul>
    </div>
    [% END %]
    <div style="text-align:center">
      <h1>Status Shooter</h1>

      [% FOR field IN form.error_fields %]
        [% FOR error IN field.errors %]
          <h2 class="error">[% error %]</h2>
        [% END %]
      [% END %]

      [% IF message %]<h2 class="message">[% message %]</h2>[% END %]

      <form name=[% form.name %] action=[% c.uri_for() %] method=post>

        [% f = form.field( 'status' ) %]
        <p>
          <input type=[% f.type | lower %] name=[% f.name %] id=[% f.name %] size=[% f.size %] maxlength=[% f.maxlength %] value="[% f.fif %]" />
        </p>

        [% f = form.field( 'services' ) %]
        <p>
          [% FOR option IN f.options %]
          <label>
            <input type=checkbox name=[% f.name %] id=[% f.name _ '.' _ option.value %] value=[% option.value %]
                   [%- FOR fif IN f.fif %][% IF option.value == fif %] checked=checked[% END %][% END %] />
            [% option.label %]
          </label>
          [% END %]
        </p>

        [% f = form.field( 'submit' ) %]
        <p>
          <input type=[% f.type | lower %] name=[% f.name %] id=[% f.name %] value="[% f.value %]" />
        </p>

        <hr style="width:60%;margin-top:50px;"/>
        [% f = form.field( 'body' ) %]
        <p>
          <label>Blog Post Body:<br/>
            <textarea name=[% f.name %] id=[% f.name %] rows=[% f.rows %] cols=[% f.cols %]>[% f.value %]</textarea>
          </label>
        </p>

        [% f = form.field( 'tags' ) %]
        <p>
          <label>Blog Post Tags:<br/>
            <input type=[% f.type | lower %] name=[% f.name %] id=[% f.name %] size=[% f.size %] value="[% f.fif %]" />
          </label>
        </p>
      </form>
    </div>
  </body>
[% BLOCK STATUS %]
[% user = status.user %]
<li style="margin-bottom:10px">
  <div style="clear:both;">
    <a href=http://twitter.com/[% user.screen_name %] target="_new">
      <img src=[% user.profile_image_url %] style="border:1px solid black;float:left;margin:5px;" title="[% user.description %]"/>
    </a>
    <div style="margin-left: 60px"><a href=http://twitter.com/[% user.screen_name %] class=twitter_user title="[% user.name %]" target="_new">
      [% user.screen_name %]</a>
    [% status.text %]</div>
  </div>
</li>
[% END %]
</html>
