<!DOCTYPE HTML>
<html lang=en>
  <head>
    <title>StatusSkein</title>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8" />
    <link type=text/css media=screen rel=stylesheet href=/css/statusskein.css />
  </head>
  <body>
    <div id=page-content>
      <div id=page-title>Hi.</div>

      <p>
        Welcome to StatusSkein, a web application you can run on
        your local machine to aggregate updates from various social
        networking sites into a single unified "stream". StatusSkein
        also allows you to favorite, or "like" your friends' status
        updates, reply to individual status updates, retweet or
        recycle status updates, and post new status updates of your
        own to one or more of the services you have configured.
      </p>

      <p>
        The first step in using StatusSkein is to add an account on
        a social networking service. Note that you must already have
        an existing account set up to use StatusSkein. Please select
        an icon below to continue.
      </p>

      [% FOREACH service IN [ 'twitter', 'identica', 'facebook' ] %] [% label = service | ucfirst %]
      <a href=[% c.uri_for( 'add/' _ service ) %]>
        <img id=[% service %]-icon class=service-icon
             src=/images/[% service %].png alt="[% label %]" title="[% label %]" height=64 width=64 />
      </a>
      [% END %]
    </div>
  </body>
</html>
